<div class="verify-modal"
style="position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);min-width: 600px;min-height: 220px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;padding: 25px;z-index: 44;display: flex;flex-direction: column;justify-content: space-around;align-items: center;padding-top: 10px;background-color: white;">
<img class="img-fluid" src="assets/emailotp/jpeg"/>
<div style="width: 100%;display: flex;flex-direction: row-reverse;margin: 0;"></div>
<h1 style="color: crimson;">Enter the OTP send to your Email !!</h1>
    <ng-otp-input (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="{length:6}"></ng-otp-input>

<div style="margin-top: 15px;" class="primary-btn text-center">
    <button (click)="submitOtpForm()"  class="btn btn-primary submit">Verify</button>
</div>
</div>
