<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="img-fluid"
                         style="width:180px" 
                         src="/assets/signuplogo.png"/>
                </div>
                <form [formGroup]="Signupform">
                    <div class="form-group">
                        <label>Username</label>
                        <img src="/assets/user_icon.png"/>
                        <input type="text" class="form-control" formControlName="username" placeholder="Username" appearance="Outline" required/>
                        <span *ngIf="username?.invalid && username?.touched" class="error">Username is Invalid</span>
                    </div>
                    <br/>
                     <div class="form-group">
                        <label>Email</label>
                        <img src="/assets/email.png"/>
                        <input type="email" class="form-control" formControlName="email" placeholder="Email" appearance="Outline" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
                        <span *ngIf="email?.invalid && email?.touched" class="error">Email is Invalid</span>
                    </div>
                    <br/>
                     <div class="form-group">
                        <label>Password</label>
                        <img src="/assets/unlock.png"/>
                        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" appearance="Outline" pattern="^.*(?=.{7})(?=.*\d)(?=.*[a-zA-Z]).*$"/>
                        <a class="eye-icon" (click)="showPassword('newPass')"><img [src]='showCreatePassword ? "/assets/hide_password.svg" : "/assets/show_password.svg"' (click)="togglePassword()"></a>
                        <span *ngIf="password?.invalid && password?.touched" class="error">Password is Invalid</span>
                    </div> 
                    <br/>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <img src="/assets/unlock.png"/>
                        <input formControlName="confirm_password" type="password" id="conpassword" class="form-control" placeholder="ConfirmPassword" appearance="Outline" pattern="^.*(?=.{7})(?=.*\d)(?=.*[a-zA-Z]).*$"/>
                        <a class="eye-icon" (click)="showPassword('conPass')"><img [src]='showConfirmPassword ? "/assets/hide_password.svg" : "/assets/show_password.svg"' (click)="toggleConfirmPassword()"></a>
                        <span *ngIf="confirm_password?.touched && confirm_password?.invalid" class="error"></span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label>Contact</label>
                        <img src="/assets/phone.webp"/>
                        <input type="number" class="form-control" formControlName="contact" placeholder="Contact" appearance="Outline"/>
                        <span *ngIf="contact?.invalid && contact?.touched" class="error">Contact is Invalid</span>
                    </div>  
                    
                    <br/>
                    <div class="container text-center mt">
                    <button (click)="onSubmit()"  type="submit" [disabled]="Signupform.invalid" class="btn btn-primary">Save</button>
                    </div>
                </form>
           </div>
        </div>
    </div>
</div>
