<img class="img-fluid" src="assets/forgotemailotp.png"/>
<div *ngIf="forgotFlag" class="forgot-modal"
style="position: fixed;top: 50%;left: 75%;transform: translate(-50%,-50%);min-width: 200px;min-height: 400px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;padding: 25px;z-index: 44;display: flex;flex-direction: column;justify-content: space-around;align-items: center;padding-top: 10px;background-color: white;">
<div style="width: 100%;display: flex;flex-direction: row-reverse;margin: 0;"></div>
<h1 style="color: crimson;">We will send an OTP to your registered Email-Id !!</h1>
<form [formGroup]="Forgotform">
<div class="form-group form-name">
    <label>Email</label>
    <img class="input-icon" src="assets/email.png"/>
    <input type="email" class="form-control" formControlName="email" placeholder="Email" appearance="Outline" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
    <span *ngIf="email?.invalid && email?.touched" class="error">Email is Invalid</span>
</div>
<div style="margin-top: 15px;" class="primary-btn text-center">
    <button (click)="submitForm()" [disabled]="Forgotform.invalid" class="btn btn-primary submit">Send Email</button>
</div>
</form>
</div>

<div *ngIf="emailFlag" class="verify-modal img"
style="position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);min-width: 600px;min-height: 220px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;padding: 25px;z-index: 44;display: flex;flex-direction: column;justify-content: space-around;align-items: center;padding-top: 10px;background-color: white;">
<img class="img-fluid" src="assets/emailotp/jpeg"/>
<div style="width: 100%;display: flex;flex-direction: row-reverse;margin: 0;"></div>
<h1 style="color: crimson;">Enter the OTP send to your Email !!</h1>
<form [formGroup]="Otpform">
<div class="form-group">
    <input type="number" class="form-control" formControlName="otp" placeholder="OTP" appearance="Outline"/>
    <span *ngIf="otp?.errors && otp?.touched" class="error">Otp is required</span>
</div>
<div style="margin-top: 15px;" class="primary-btn text-center">
    <button (click)="submitOtpForm()" [disabled]="Otpform.invalid" class="btn btn-primary submit">Verify</button>
</div>
</form>
</div>



<div *ngIf="otpFlag" class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="img-fluid"
                         style="width:100px" 
                         src="assets/Change.webp"/>
                </div>
            <h1 class="text-center">Reset Password</h1>
                <form [formGroup]="Resetform">

                    <div class="form-group">
                        <label>New Password</label>
                        <img class="input-icon" src="assets/unlock.png"/>
                        <input type="password" id="password" class="form-control" formControlName="newpassword" placeholder="New Password" appearance="Outline" pattern="^.*(?=.{8})(?=.*\d)(?=.*[a-zA-Z]).*$"/>
                        <a class="eye-icon" (click)="showPassword('newPass')"><img [src]='showCreatePassword ? "assets/hide_password.svg" : "assets/show_password.svg"' (click)="togglePassword()"></a>
                        <span *ngIf="newpassword?.invalid && newpassword?.touched" class="error"> New Password is Invalid </span>
                    </div>

                    <br/>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <img class="input-icon" src="assets/unlock.png"/>
                        <input type="password" id="conpassword" class="form-control" formControlName="confirmpassword" placeholder="Confirm Password" appearance="Outline" pattern="^.*(?=.{8})(?=.*\d)(?=.*[a-zA-Z]).*$"/>
                        <a class="eye-icon" (click)="showPassword('conPass')"><img [src]='showConfirmPassword ? "assets/hide_password.svg" : "assets/show_password.svg"' (click)="toggleConfirmPassword()"></a>
                        <span *ngIf="confirmpassword?.invalid && confirmpassword?.touched" class="error"> Confirm Password is Invalid </span>
                    </div>

                    <br/>
                    <div class="container text-center mt">
                    <button (click)="onResetSubmit()" type="submit" [disabled]="Resetform.invalid" class="btn btn-primary">Reset Password</button>
                    <button (click)="Cancel()" type="submit" style="margin-left:10px" class="btn btn-primary">Cancel</button>
                </div>
                </form>
           </div>
        </div>
    </div>
</div>