
<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="img-fluid"
                         style="width:100px" 
                         src="/assets/Change.webp"/>
                </div>
            <h1 class="text-center">Change Password</h1>
                <form [formGroup]="Changeform">

                    <div class="form-group">
                        <label>Current Password</label>
                        <img class="input-icon" src="/assets/unlock.png"/>
                        <input type="password" id="currpassword" class="form-control" formControlName="currentpassword" placeholder="Current Password" appearance="Outline" pattern="^.*(?=.{8})(?=.*\d)(?=.*[a-zA-Z]).*$"/>
                        <a class="eye-icon" (click)="showPassword('current')"><img [src]='showCurrentPassword ? "/assets/hide_password.svg" : "/assets/show_password.svg"' (click)="toggleCurrentPassword()"></a>
                        <span *ngIf="currentpassword?.invalid && currentpassword?.touched" class="error"> Current Password is Invalid </span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label>New Password</label>
                        <img class="input-icon" src="/assets/unlock.png"/>
                        <input type="password" id="password" class="form-control" formControlName="newpassword" placeholder="New Password" appearance="Outline" pattern="^.*(?=.{8})(?=.*\d)(?=.*[a-zA-Z]).*$"/>
                        <a class="eye-icon" (click)="showPassword('newPass')"><img [src]='showCreatePassword ? "/assets/hide_password.svg" : "/assets/show_password.svg"' (click)="togglePassword()"></a>
                        <span *ngIf="newpassword?.invalid && newpassword?.touched" class="error"> New Password is Invalid </span>
                    </div>

                    <br/>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <img class="input-icon" src="/assets/unlock.png"/>
                        <input type="password" id="conpassword" class="form-control" formControlName="confirmpassword" placeholder="Confirm Password" appearance="Outline" pattern="^.*(?=.{8})(?=.*\d)(?=.*[a-zA-Z]).*$"/>
                        <a class="eye-icon" (click)="showPassword('conPass')"><img [src]='showConfirmPassword ? "/assets/hide_password.svg" : "/assets/show_password.svg"' (click)="toggleConfirmPassword()"></a>
                        <span *ngIf="confirmpassword?.invalid && confirmpassword?.touched" class="error"> Confirm Password is Invalid </span>
                    </div>

                    <br/>
                    <div class="container text-center mt">
                    <button (click)="onSubmit()" type="submit" [disabled]="Changeform.invalid" class="btn btn-primary">Change Password</button>
                    <button (click)="Cancel()" type="submit" style="margin-left:10px" class="btn btn-primary">Cancel</button>
                </div>
                </form>
           </div>
        </div>
    </div>
</div>
