.full-width
{
    width: 100%;
}

input.ng-invalid{
    border-left: 5px solid red;
}

input.ng-valid{
    border-left: 5px solid green;
}

.error{
    color: red;
}
.eye-icon{
    position: absolute;
    right: 17px;
    margin-top: 9px;
    top: 17px;
    color: #4a4a4a;
    font-size: 17px;
  }

  .form-group
{
    position: relative;
}

.input-icon
{
    width: 25px;
    position: absolute;
    left: 5px;
    top: 27px;
}

.form-control
{
    padding-left: 30px;
}